*.o
*.log
*.trs
*.lo
*.la
*~
*#
*.html
*.tar.gz
__pycache__
.deps
.libs
*autobook*
Makefile.in
Makefile
main/ddasformat
main/libtcl
main/unifiedformat+
main/aclocal.m4
main/compile
main/config.guess
main/config.h
main/config.h.in
main/config.status
main/config.sub
main/configure
main/daqsetup.bash
main/depcomp
main/install-sh
main/libtool
main/ltmain.sh
main/makeindex.tcl
main/missing
main/nscldaq
main/path
main/portgmr.pid
main/ports.pid
main/ports.ports
main/stamp-h1
main/t
main/test-driver
main/.vscode/
main/autom4te.cache/
main/base/CopyrightTools/test
main/base/dataflow/consumer
main/base/dataflow/producer
main/base/dataflow/ringtostdout
main/base/dataflow/ringtostdoutsw.c
main/base/dataflow/ringtostdoutsw.h
main/base/dataflow/stdintoring
main/base/dataflow/stdintoringsw.c
main/base/dataflow/stdintoringsw.h
